*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba( 38, 70, 83, 0.9);
}

section{
    background-color: #01161e;
    opacity: 0.9;
    height: 365px;
    width: 400px;
    margin: 10% auto;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

.result{
    height: 80px;
    padding: 20px 10px 0 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#display{
    direction: ltr;
    text-align: right;
    unicode-bidi: plaintext;
    font-size: 2rem;
    white-space: nowrap;
    overflow-x: auto;
}

.calculation{
    background-color: #293132;
    height: 285px;
    border-radius: 10px;
    padding: 3px 10px;
}

button{
    height: 52px;
    width: 91px;
    border: none;
    margin-top: 3px;
    border-radius: 4px;
    background-color: #011627;
    opacity: 0.9;
    color: white;
    font-size: 18px;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.5;
}

#clear{
    background-color: #ea3546;
}

.gray{
    background-color: #A9A9A9;
}

.operator{
    background-color: #f86624;
}

.blue{
    background-color: #1E90FF;
}

